<footer class="bg-dark me-auto d-flex text-white flex-column">
    <div class="bg-dark text-white me-auto  container d-flex justify-content-between espac ">
        <div>
            <a href="https://www.linkedin.com/in/jeremias-bozal-b488a7274/"><img src="assets\linkedin.png" id="linkedin"
                    width="40px"></a>
        </div>
        <div>
            <a href="https://twitter.com/Bjjzzz"><img src="assets\twitter.png" id="twitter" width="40px"></a>
        </div>
        <div>
            <a href="https://www.instagram.com/jere.bz/"><img src="assets\instagram.png" id="instagram"
                    width="40px"></a>
        </div>
        <div>
            <a href="https://github.com/Jeremias87"><img src="assets\github.png" id="github" width="40px"></a>
        </div>
        <div>
            <a href="https://www.facebook.com/profile.php?id=100084956654182"><img src="assets\facebook.png"
                    id="facebook" width="40px"></a>
        </div>

    </div>
    <div class="text-center">
        <p>Jeremias Bozal © Argentina Programa</p>
    </div>
</footer>